manifest {
    mainScript = 'main.nf'
}

includeConfig "$baseDir/params.config"
 

process {
    queue='short-sl7'
    memory='8G'
    cpus='1'
    time='6h'
    scratch = false

    withLabel: big_mem_cpus {
        cpus = 8
        memory = '64G'
        queue = 'short-sl7,long-sl7,mem_1tb,mem_512,mem_256'
    }
 
     withLabel: big_mem {
        cpus = 1
        memory = '40G'
        queue = 'short-sl7,long-sl7,mem_1tb,mem_512,mem_256'
    }
 
}

#Change the path to your singulairity image 
process.container = '/software/bi/biocore_tools/git/singularity_conversion/singularity/biocorecrg_vectorqc-2018-08-23-49c15e57be43.img'
#process.container = 'vectorQC.simg'
singularity.enabled = true

# Decommment in case you have docker
#process.container = 'biocorecrg/vectorqc'
#docker.enabled = true

