params {
    reads        = "$baseDir/simulate/output/*{1,2}.fq"
    inserts      = "$baseDir/examples/inserts/genes.fa"
	adapter      = "TGGAATTCTCGG"
    features     = "$baseDir/db/features.fasta.nt.gz"
    commonenz    = "$baseDir/db/common.ids"
    output       = "$baseDir/output"
    email        = "yourmail@yourdomain"
}
