params {
    reads        = "$baseDir/real_data/*_R{1,2}_001.fastq.gz"
    inserts      = "$baseDir/examples/inserts/genes.fa"
    adapter      = "CTGTCTCTTATA"
    minsize      = 250
    trimquality  = 25
    meanquality  = 20
    features     = "$baseDir/db/features.fasta.nt.gz"
    commonenz    = "$baseDir/db/common.ids"
    output       = "$baseDir/output_real"
    email        = "luca.cozzuto@crg.eu"
}
