params {

	reads	     = "$baseDir/test/reads/*{1,2}.fq"
	features     = "$baseDir/db/features.fasta.nt.gz"
	inserts     = "$baseDir/test/inserts/genes.fa"
	multiconfig  = "config.yaml"
	commonenz    = "$baseDir/db/common.ids"
	output       = "$baseDir/output"
	email	     = "luca.cozzuto@crg.eu"
	tooldb	     = "conf_tools.txt"
}
